.success-message {
  color: green;
  background-color: #C3C3C3;
  border: 2px solid green;
  padding: 10px;
}

.error-message {
  color: red;
  background-color: #C3C3C3;
  border: 2px solid red;
  padding: 10px;
}

.blog {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 2px;
  border: solid 1px black;
}